<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>디뮤 - 초보 개발자들의 커뮤니티</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <div class="navbar__logo">
        <i class="fas fa-rocket"></i>
        <a href="http://ec2-13-124-73-39.ap-northeast-2.compute.amazonaws.com/">Demu</a>
    </div>
    <ul class="navbar__menu">
        <li><a href="">자유게시판</a></li>
        <li><a href="">프론트엔드</a></li>
        <li><a href="">백엔드</a></li>
        <li><a href="">안드로이드</a></li>
        <li><a href="">디자인</a></li>
    </ul>
    <ul class="navbar__icons">
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-microblog"></i></li>
    </ul>
    <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>