{{>layout/header}}

<nav class="navbar">
    <div class="navbar__logo">
        <i class="fas fa-rocket"></i>
        <a href="http://ec2-13-124-73-39.ap-northeast-2.compute.amazonaws.com/">Demu</a>
    </div>
    <ul class="navbar__menu">
        <li><a href="">자유게시판</a></li>
        <li><a href="">프론트엔드</a></li>
        <li><a href="">백엔드</a></li>
        <li><a href="">안드로이드</a></li>
        <li><a href="">디자인</a></li>
    </ul>
    <ul class="navbar__icons">
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-microblog"></i></li>
    </ul>
    <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

<div class="col-md-12">
    <div class="row" style="text-align: end; padding: 8px 12px;">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}" style="color: black;">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <div style="text-align: end; padding: 8px 12px;">
    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
    </div>
</div>

{{>layout/footer}}